@media screen {
    .tagging-form .o-icon-transmit::before {
        background: url('../img/waiting-mini.gif') no-repeat scroll 0 0 transparent !important;
        content: "";
        width: 18px;
        height: 18px;
        line-height: 24px;
        vertical-align: top;
    }
    .tagging-form .o-icon-transmit {
        cursor: progress;
    }
}

.hTagcloud {
    margin-top: 2em;
}
.hTagcloud ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    line-height: 1.8em;
}
.hTagcloud li {
    display: inline;
    margin-right: 8px;
}

.popular {
    font-size: 100%;
}
.v-popular {
    font-size: 140%;
}
.vv-popular {
    font-size: 180%;
}
.vvv-popular {
    font-size: 220%;
}
.vvvv-popular {
    font-size: 260%;
}
.vvvvv-popular {
    font-size: 300%;
}
.vvvvvv-popular {
    font-size: 320%;
}
.vvvvvvv-popular {
    font-size: 340%;
}
.vvvvvvvv-popular {
    font-size: 360%;
}

.popular a, .popular a:visited,
.v-popular a, .v-popular a:visited,
.vv-popular a, .vv-popular a:visited {
    color: #714271;
}
.vvv-popular a, .vvv-popular a:visited,
.vvvv-popular a, .vvvv-popular a:visited {
    color: #636;
}
.vvvvv-popular a, .vvvvv-popular a:visited,
.vvvvvv-popular a, .vvvvvv-popular a:visited,
.vvvvvvv-popular a, .vvvvvvv-popular a:visited,
.vvvvvvvv-popular a, .vvvvvvvv-popular a:visited {
    color: #5D2E5D;
}

.popularity span,
.popularity span:link {
    color: #AAAAAA;
    padding-right: 3px;
}
.popularity span::before {
    color: #DDDDDD;
}
.popularity a:hover span::before,
.popularity span:hover::before {
    color: #888888;
}
.popularity span::before {
    display: inline-block;
    font-family:"FontAwesome";
    padding-left: 3px;
    padding-right: 3px;
    width: 24px;
}
.popularity .resources::before {
    content: "";
}
.popularity .item-sets::before {
    content: "";
}
.popularity .items::before {
    content: "";
}
.popularity .media::before {
    content: "";
}
